{% extends "base.html" %}
{% block custom_crumb %} 算法库 - 算法列表{% endblock %}
{% block content %}

    <div class="card">
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>算法ID</th>
                        <th>算法名称</th>
                        <th>路径</th>
                        <th>类命</th>

                    </tr>
                    </thead>
                    <tbody >
                        {% for alg in algorithms %}
                            <tr>
                                <td>{{ alg.id }}</td>
                                <td>{{ alg.name }}</td>
                                <td>{{ alg.path }}</td>
                                <td>{{ alg.class_name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}