{% extends "base.html" %}
{% block custom_crumb %} 工作节点 - 列表{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>

                        <th>名称</th>
                        <th>状态</th>
                        <th>并发数量</th>
                        <th>队列</th>
                        <th>完成任务数</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>第01章 天涯思君不可忘</td>
                        <td>《倚天屠龙记》</td>
                        <td>金庸</td>
                        <td>36</td>
                        <td><font class="text-success">正常</font></td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-xs btn-default" href="#!" title="ping" data-toggle="tooltip"><i
                                        class="mdi mdi-lan-connect"></i></a>
                                <a class="btn btn-xs btn-default" href="#!" title="重启" data-toggle="tooltip"><i
                                        class="mdi mdi-restart"></i></a>
                                <a class="btn btn-xs btn-default" href="#!" title="关闭" data-toggle="tooltip"><i
                                        class="mdi mdi-window-close"></i></a>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}