{% extends "base.html" %}
{% block custom_crumb %} 工作节点 - 列表{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>

                        <th>名称</th>
                        <th>状态</th>
                        <th>并发数量</th>
                        <th>队列</th>
                        <th>完成任务数</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="worker_list">
                    <tr>
                        <td>第01章 天涯思君不可忘</td>
                        <td>《倚天屠龙记》</td>
                        <td>金庸</td>
                        <td>36</td>
                        <td><font class="text-success">正常</font></td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-xs btn-default" href="#!" title="ping" data-toggle="tooltip"><i
                                        class="mdi mdi-lan-connect"></i></a>
                                <a class="btn btn-xs btn-default" href="#!" title="重启" data-toggle="tooltip"><i
                                        class="mdi mdi-restart"></i></a>
                                <a class="btn btn-xs btn-default" href="#!" title="关闭" data-toggle="tooltip"><i
                                        class="mdi mdi-window-close"></i></a>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(function () {
            query_worker_status();
        });

        // 查询workers状态
        function query_worker_status() {
            $.ajax({
                type: 'POST',
                dataType: "json",
                url: "{% url "workers_status" %}",
                contentType: "application/json;charset=utf-8",

                success: function (res) {

                    if (res.code == "200") {
                            $(res.data).each(
                                function (index,worker) {
                                    $("#worker_list").html(
                                        "<tr><td>"+worker.name+"</td>"
                                        +"<td>"+worker.status+"</td>"
                                        +"<td>"+worker.concurrency+"</td>"
                                        +"<td>"+worker.queues+"</td>"
                                        +"<td>"+worker.complete+"</td>"
                                        +"<td>"+worker.complete+"</td></tr>"
                                    )
                                }
                            )

                    } else {
                        alert("用户信息不合法，或邮箱已被占用");
                    }
                },
                error: function () {
//            $("#test").html("发生错误:"+jqXHR.status);
                    alert("发生错误"+jqXHR.status);
                }
            });
        }

        //加载初始化数据
        function initData() {
            $.ajax({
                type: 'POST',
                dataType: "json",
                url: "{% url "tasks_progress" %}",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(
                    {
                        task_id: "e9bb09a5-706c-4f08-85d8-c4646687ba11"
                        /*password:$("#password").val()*/
                    }
                ),
                success: function (res) {
                    alert("加载数据");
                    if (res.code == "0") {
                        console.log(res);
                        alert(res.msg);
                        var info = res.data;

                        $("#name").attr("value", info.name);
                        $("#email").attr("value", info.email);
                        $("#password").attr("value", info.password);
                        $("#phone").attr("value", info.phone);
                        $("#address").attr("value", info.address);
                        $("#birthday").attr("value", info.birthday);
                        $("#picture").attr("src", info.icon);
                    } else {
                        alert("用户信息不合法，或邮箱已被占用");
                    }
                },
                error: function () {
//            $("#test").html("发生错误:"+jqXHR.status);
                    alert("发生错误");
                }
            });
        }
    </script>
{% endblock %}